<%-include header%>
<form method="post" id="userForm">
    <ul>
        <li><label for="username">用户名：</label><input type="text" name="username" id="username"><span></span></li>
        <li><label for="pwd">密码：</label><input type="password" name="pwd" id="pwd"><span></span></li>
        <li><label for="pwdr">确认密码：</label><input type="password" name="pwdr" id="pwdr"><span></span></li>
        <li><label for="email">邮箱：</label><input type="email" name="email" id="email"><span></span></li>
        <li><input type="submit"></li>
    </ul>
</form>

<script>
    $(function(){

    })
</script>