<%-include top%>
<div class='regist '>
	<div class="">
		<div class="col-sm-18">
			<h3>用户注册</h3>
				<div class='form-group'>
					<input class='form-control' id="username" name="username">
				</div>
				<div class='form-group'>
					<input type="password" name="password" id="password" class='form-control'>
					<div class='help-block'>请输入6-24位字母或数字</div>
				</div>
				<div class='form-group'>
					<input type="password" name="confirm" id="confirm" class='form-control'>
					<div class='help-block'>请再次输入密码</div>

				</div>
					<input type="button" id="submit" class="btn btn-large btn-danger" value="提交">
				<div id="notice"></div>
		</div>
		<div class="col-sm-6 panel-right">
			免费注册成为新的用户
			<br>
			已有账号？点击马上<a href="<%=login.url%>"><%=login.name%></a>!
		</div>
		<i class='clearfix'></i>
	</div>	
	
</div>	
<script>
	$("#submit").bind("click",function(){
		$.post("/regist",{
			username:$("#username").val(),
			password:$("#password").val(),
			confirm:$("#confirm").val()
		},function(text){
			alert(text);
			if(text=="注册成功"){
				var time = 3
				$("#notice").html(text+"<span id='time'>3</span>秒后自动<a href='/login'>跳转</a>");
				var timer = setInterval(function(){
					time--;
					$("#time").html(time);
					if(time==0){
						clearInterval(timer);
						window.location="/login"
					}
				},1000);
			}else{
				$("#notice").html(text);
			}
		})
	});
</script>
</body>
</html>