<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link href="../../stylesheets/differ.css" rel="stylesheet">
    <script src="../../javascripts/html5.js"></script>
</head>
<body>
</body>
</html>